<div class="main">
  <div class="container">
    <h1>Error!</h1>
    <p>Sorry, either you entered your information wrong or we do not have you in the system!
    </p>
    <%= link_to 'Go Back', :back %>

  </div>
</div>